#api_spinner {
  margin: 1px 4px 0 0;
}
.status-light {
	background-image: none;
	background-color: #FFC107;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin: 6px 8px 0 6px !important;
}
#movie-suggestions {
  margin-top: 1em;
  text-align: left;
}
#movie-suggestions .tabs-panel {
  padding-top: 1em;
  padding-bottom: 0.5em
}
#movie-suggestions label {
  display: block;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rating-icon {
	width:20px;
	height:20px;
	margin-bottom:-5px;
	margin-right:3px;
}
#rating-response {
  display: none;
}
#rating-spinner {
  margin: 1px 4px 0 12px !important;
  float: none;
}
#poststuff .inside > h3 {
	font-size: 14px;
	padding: 8px 0;
}
#poststuff .inside textarea {
	width: 100%;
	max-width: 100%;
	vertical-resize: yes;
}
#poststuff .inside label span {
	width: 60px;
	display: inline-block;
  text-align: center;
	margin-right: 8px;
  margin-left: 8px;
}
#poststuff #movie_schedule .inside input[type=text] {
	margin-right: 8px;
  margin-left: 8px;
}
#poststuff .inside .radio-group label {
	margin-right: 8px;
}
#poststuff .inside .postbox-container {
	margin-top: 20px;
}
#poststuff .inside .notice {
  margin-top: 20px;
  display: none;
}
#rating-confirm {
	vertical-align: middle;
	margin-left: 10px;
}
#trailer-frame {
	width: 100%;
}
#website-frame {
	width: 100%;
	margin-top: 10px;
}
input[name=start_date],
input[name=end_date],
input[name=early],
input[name=late],
input[name=matinee],
input[name=special_description],
input[name=special_showtime] {
	width: 120px;
}
input[name=trailer],
input[name=website],
input[name=rating_description] {
	width: 100%;
}
input[name=runtime_minutes] {
	width: 80px;
}
label[for=early],
label[for=end_date],
label[for=late] {
	margin-left: 8px;
	margin-right: 8px;
}
