/* Hide the columns we are only using for the quick edit box */
.column-showtime_override,
.column-listing_label,
.column-listing_type,
.column-notes {
  display: none !important;
}

.column-featured_image {
  width:90px !important;
  overflow:hidden;
}

.column-featured_image a img {
  height: 80px;
  display: table-cell;
  width: auto;
}

.column-trailer {
  width:120px !important;
}

.column-trailer .button {
  margin: 0 4px 4px 0;
}

.column-trailer .button span {
  vertical-align: -5px;
}

.column-trailer input {
  width: 100%;
  display: block;
  border: none;
  background: none;
  text-overflow: ellipsis;
  color: #555;
  font-size: 13px;
  outline: none;
}

.email_output_links {
  padding: 20px 0 0 0 !important;
  display: block;
}

.email_output_html {
  width: 0px;
  height: 0px;
  opacity: 0;
  padding: 0;
  float: left;
  margin-bottom: 15px;
}
